<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dynfi Suricata Rulesets</title>
	</head>
	<body>
		<p>Suricata ruleset has been succesfully created.</p>
		<a href="ruleset.txt" download> Download Ruleset here </a>
	</body>
</html>
